{% for item in contentItems %}
	<div class="content-cards content-cards__item{% if item.mod %} content-cards__item{{ item.mod }}{% endif %}">

		<div id="{{ item.id }}" class="content-cards__anchor"></div>

		<div class="description-img">
			<img src="./img/template/{{ item.image }}" alt="{{ item.imageAlt }}" class="responsive-image">
		</div>

		<div class="description">
			<div class="tagline">
				<div class="description-bc number">{{ item.number }}</div>
				{{ item.tagline }}
			</div>
			<div class="title title--card">{{ item.title }}</div>
			<div class="text">{{ item.text }}</div>
			<div class="description-more">
				<a href="javascript:;" class="link link--description">
					{{ item.link }}
					<svg width="24" height="16" viewBox="0 0 24 16" xmlns="http://www.w3.org/2000/svg">
						<path d="M16 -6.99382e-07L14.59 1.41L20.17 7L-3.93402e-07 7L-3.0598e-07 9L20.17 9L14.58 14.58L16 16L24 8L16 -6.99382e-07Z" fill="#FBD784"/>
					</svg>
				</a>
{#				<img src="./img/template/arrowRight.svg" alt="ArrowRight" class="responsive-image">#}
			</div>
		</div>

	</div>
{% endfor %}
